{
"parser": "babel-eslint",
"env": {
	"browser": true,
	"node": true
},
"settings": {
	"ecmascript": 6,
	"jsx": true
},
  "parserOptions": {
    "ecmaFeatures":  {
    "jsx": true
    }
  },
"plugins": [
	"react"
],
"extends": ["eslint:recommended", "plugin:react/recommended" ],
"rules": {
  "react/prop-types": 0,
  "react/display-name": 0,
  "indent": [0, 2]
},
  "overrides": {
    "files":["node_modules/*"]
  }
  }
