{
"parser": "babel-eslint",
"env": {
	"browser": true,
	"node": true
},
"settings": {
	"ecmascript": 6,
	"jsx": true
},
  "parserOptions": {
    "ecmaFeatures":  {
    "jsx": true
    }
  },
"plugins": [
	"react"
],
"extends": ["eslint:recommended", "plugin:react/recommended" ],
"rules": {
	"strict": 0,
  "quotes": 0,
  "no-unused-vars": 1,
  "camelcase": 0,
	"no-underscore-dangle": 0,
  "indent": [0, 2]
},
  "overrides": {
    "files":["node_modules/*"]
  }
  }
